.CanvasEditor {
    .canvas-wrapper {
        width: 100%;
        height: auto; // Maintain aspect ratio
        max-width: 800px; // Optional max width for larger screens
        aspect-ratio: 4 / 3; // Maintain 4:3 aspect ratio
    }

}